body{
    background-color: darkgray;
    text-align: center;
}
h3{
    text-decoration:underline;
    background-color: black;
    color:  coral ;
    border-radius: 15px;
}
img{
    border: 3px solid orange;
    border-radius: 15px;
}